/* collections */
.header-banner{
    height: 130px;
    background-color: #ced2c5;
}
.header-banner h1{
    font-size: 20px;
    line-height: 130px;
    letter-spacing: 0.1em;
    text-align: center;
}

/* about us */

.about-header{
    width: 100%;
    background: #ced2c5;
    margin-bottom: 60px;
}
.about-banner-img{
    width: 100%;
}
.center-text-box{
    padding: 10px 30px 30px;
}
.about-text{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
    margin-bottom: 20px;
}
.about-flexbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    padding: 0 2%;
    margin: 0 auto;
    justify-content: space-between;
}
.welcome{
    margin-bottom: 60px;
}
.about-col{
    flex-basis: 48%;
    overflow: hidden;
}
.about-col img{
    width: 100%;
}
.about-col h2{
    text-align: left;
    margin-top: 20%;
}
.about-col p{
    margin-bottom: 1.5em;
}

@media (max-width: 1080px){
    .about-col img{
        width: 500px;
    }
    .about-col{
        object-fit: cover;
        object-position: center center;
    }
    .about-col h2{
        margin-top: 0;
    }
}
@media (max-width: 750px){
    .about-flexbox{
        flex-direction: column;
    }
    .about-col img{
        width: 100%;
        height: auto;
    }
    .about-col h2{
        margin-top: 30px;
    }
}
/* mission */
.mission{
    margin-bottom: 60px;
}
.mission_banner{
    height: 90vh;
    background: url(https://cdn.shopify.com/s/files/1/0556/7263/5426/files/About_Page_Slideshow_1.png?v=1640222990) center left;
    background-size: cover;
    margin-bottom: 60px;
}  

@media (max-width: 1080px) {
    .mission_banner{
        min-height: 1000px;
        background: url(https://cdn.shopify.com/s/files/1/0556/7263/5426/files/About_Page_Slideshow_Mobile_2.png?v=1655269285) top center;
        background-size: cover;
    }
}

/* FAQ */
.faq-section{
    margin: 60px auto;
    max-width: 800px;
}
.faq-section h1{
    margin-bottom: 30px;
}
.faq-block{
    margin-bottom: 20px;
    background-color: #ced2c5;
}
summary{
    width: 100%;
    padding: 15px 20px 15px 40px;
    cursor: pointer;
    position: relative;
    list-style: none;
}
summary > i {
    color: #686f59;
    margin-right: 15px;
}
summary > p{
    display: inline-block;
}
summary:hover{
    background-color: #c0c6b3;
}
.answer{
    padding: 15px;
    
}

.question-label{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.question input{
    opacity: 0;
    height: 0;
    width: 0;
}
.faq-checkbox:checked .faq-section{
    background-color: brown;
}
.question input:checked .answer{
    display: block;
}

/* Contact Page */
.contact-banner img{
    width: 100%;
    margin: 0;
}
.contact-intro_text{
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
    margin-bottom: 50px;
}
.contact-intro_text h2{
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 2em;
}
.contact-intro_text p{
    letter-spacing: 0.06em;
    font-size: 0.9em;
    line-height: 2em;
    margin-bottom: 30px;
}
.contact-intro_text button{
    padding: 15px 30px;
    background-color: #fff;
    font-size: 1em;
    border: 1px solid black;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
}
.contact-intro_text button:hover, .contact-intro_text button:active, 
.contact-intro_text button:focus{
    box-shadow: 0 0 1px 1px black;
}

.contact-form{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.contact-form input{
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 0;
}
.form-2-block{
    width: 100%;
    display: flex;
    gap: 20px;
}
.form-2-block input{
    width: 50%;
}
.contact-form form > input{
    width: 100%;
}
.contact-form button{
    display: block;
    margin: 10px auto;
    padding: 15px 40px;
    background-color: #686f59;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    border: none;
    transition: 0.3s ease;
}

/* Blog */
.blog-grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blog-img{
    min-height: 200px;
}